<div class="navbar">
    <div>
        <a href="/about" id="about">
            <img id="navicon" src="/images/icons/about.png" alt="about" />
            <span>About</span>
        </a>

    </div>
    <div>
        <a href="/" about="home">
            <img id="navicon" src="/images/icons/house.png" alt="Home" />
            <span>Home</span>
        </a>

    </div>
    <div>
        <a href="/chatbot" about="chatbot">
            <img id="navicon" src="/images/icons/bot.png" alt="chatbot" />
            <span>Chatbot</span>
        </a>

    </div>
</div>