.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 1.5rem;
    border: 1px solid black;
    border-radius: 20px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.message {
    font-size: 1.1rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
}

.btn {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.btn:last-child {
    margin: 0;
}

.btn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.hidden {
    display: none;
}

.show {
    display: block;
}

.loader {
    width: 48px;
    height: 48px;
    background: #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 6px;
    top: 10px;
    width: 12px;
    height: 12px;
    color: #FF3D00;
    background: currentColor;
    border-radius: 50%;
    box-shadow: 25px 2px, 10px 22px;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  
  .animate-text {
    line-height: 1.5;  
    white-space: nowrap;  
}

.loader {
  background: transparent;
}

/* Light Theme */
body.light-theme #mood-modal {
  background-color: #ffffff; 
  color: #1a202c; 
  
}

/* Dark Theme */
body.dark-theme #mood-modal {
  background-color: #1a202c;
  color: #ffffff;
}

/*Button Changes*/
#closebtn {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#closebtn:hover {
  background-color: #555;
}
