body {
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background-image: linear-gradient(
    240deg,
    hsl(6deg 53% 93%) 0%,
    hsl(10deg 56% 93%) 16%,
    hsl(14deg 60% 94%) 24%,
    hsl(18deg 63% 95%) 30%,
    hsl(22deg 66% 95%) 35%,
    hsl(25deg 71% 96%) 40%,
    hsl(29deg 80% 97%) 45%,
    hsl(33deg 100% 98%) 50%,
    hsl(22deg 54% 96%) 55%,
    hsl(11deg 39% 93%) 60%,
    hsl(357deg 28% 91%) 65%,
    hsl(339deg 21% 87%) 70%,
    hsl(313deg 14% 84%) 76%,
    hsl(271deg 13% 81%) 84%,
    hsl(236deg 14% 79%) 100%
  );
}

/* .page-bg{
  background-image: linear-gradient(
    240deg,
    hsl(6deg 53% 93%) 0%,
    hsl(10deg 56% 93%) 16%,
    hsl(14deg 60% 94%) 24%,
    hsl(18deg 63% 95%) 30%,
    hsl(22deg 66% 95%) 35%,
    hsl(25deg 71% 96%) 40%,
    hsl(29deg 80% 97%) 45%,
    hsl(33deg 100% 98%) 50%,
    hsl(22deg 54% 96%) 55%,
    hsl(11deg 39% 93%) 60%,
    hsl(357deg 28% 91%) 65%,
    hsl(339deg 21% 87%) 70%,
    hsl(313deg 14% 84%) 76%,
    hsl(271deg 13% 81%) 84%,
    hsl(236deg 14% 79%) 100%
  );
  
} */

.raleway{
  font-family: Raleway;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: -7px -4px 64px -10px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: -7px -4px 64px -10px rgba(0, 0, 0, 0.49);
  box-shadow: -7px -4px 64px -10px rgba(0, 0, 0, 0.49);
  width: 100%;
  background-color: #fff;
  color: #3f3f3c;
  padding: 10px 0;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.navbar a {
  color: #3f3f3c;
  text-decoration: none;
  padding: 10px;
  flex: 1;
  text-align: center;
}


/*--animation--part--*/

/*--animation--part--*/
.image-animation {
  animation: animate 2.1s ease-in-out infinite; 
}

@keyframes animate {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  75%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-20px);
  }
}

.animate-text{
  animation: animateText ;
  animation-timeline: view();
}

@keyframes animateText{
  0%{
    transform: translateY(-200px);
    opacity: 0;
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}


.rotate-animate {
  animation: ProfessionalScale  cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  opacity: 0; 
  animation-timeline: view();
}


@keyframes ProfessionalScale {
  0% {
    transform: scale(0.3);
    opacity: 0; 
  }
  50% {
    transform: scale(1.05);
    opacity: 1; 
  }
  100% {
    transform: scale(1); 
    opacity: 1; 
  }
}



/* Media Query for Desktop */
@media only screen and (max-width: 451px) {
  .desktop-message {
    display: none;
  }
}
.card1{
  box-sizing: border-box;
  /* margin-left: 250px; */
  width: 900px;
  height: 100px;
 
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card1:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card1:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 268px;
  height: 595px;
  max-height: 6500px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
}

.card-image-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
  background-color: rgb(165, 165, 165);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title {
  margin: 0;
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #050505;
  cursor: default;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.card-image-container img {
  max-width: 100%; 
  height: auto;   
}

/* Media Query for Mobile*/
@media only screen and (min-width: 450px) {

  .content,
  .navbar,
  footer {
    display: none;
  }

  .desktop-message {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  top: 0;
  /* position: fixed; */
}

.sidebar a {
  color: #3f3f3c;
  text-decoration: none;
  display: flex;
  padding-left: 1rem;
  padding-top: 5px;
  align-items: center;
  text-align: center;
}

.main {
  overflow: scroll;
  height: 100vh;
}

.main p {
  font-size: 1.5em;
  color: #262724;
  font-family: "Raleway", sans-serif;
}

.intro{
padding: 30px 5px 0px;
text-align: center;
/* margin-top: 30px; */
}

.mood h2{
margin-top: 27px;
font-family: "Raleway", sans-serif;
}

.mood {
  padding: 8px;
  border-radius: 10px;
}

.mood button {
  text-decoration: none;
  padding: 8px;
  font-size: 13px;
  border-radius: 7px;
  border: none;
}

.mood a {
  color: #3f3f3c;
  text-decoration: none;
  padding: 8px;
  margin: 5px;
}

.anxiety{
  /* margin-bottom: 32px; */
  background-image: url("../images/Bg1.png");
  /* background-repeat: no-repeat; */
  background-image: cover;
  /* height: 390px;  */
  /* width: 100%;  */
  text-align: left;
  color: black;
  border-radius: 50px;
  margin: 20px;
  padding: 30px;
}
.depression{
  background-image: url("../images/Bg2.png");
  background-repeat: no-repeat;
  background-image: cover;
  height:340px;
  width: 100%; 
  text-align: left;
  border-radius: 50px;
}
.stress{
  background-image: url("../images/Bg3.png");
  background-repeat: no-repeat;
  background-image: cover;
  height:300px; 
  width: 100%; 
  text-align: left;
  border-radius: 50px;
}
.ptsd{
  background-image: url("../images/Bg4.png");
  background-repeat: no-repeat;
  background-image: cover;
  height: 320px; 
  width: 100%; 
  text-align: left;
  border-radius: 50px;
  margin-bottom: 150px;
}

.feat-h{
  padding: 50px 50px 10px;
}
.feat-p {
  padding: 24px 22px 0px;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
}
.feat-a{
  text-decoration: none !important;
  margin: 50px;
  padding: 20px 30px  0px;
}
.quotes{
  padding: 50px 30px 10px;
  margin-bottom: 150px;
}
.quotes button{
  color: #131312;
  text-decoration: none;
  padding: 8px;
  margin: 25px;
  border-radius: 7px;
  border: none;
}

/* chatbot page */

textarea:focus, input:focus{
  outline: none;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  --c:#df135c 90%,#0000;
  background: 
    radial-gradient(circle closest-side at left  4px top 50%,var(--c)),
    radial-gradient(circle closest-side                     ,var(--c)),
    radial-gradient(circle closest-side at right 4px top 50%,var(--c));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: l4 1s infinite alternate;
}
@keyframes l4 {
    to{width:25px;aspect-ratio: 1}
}

.info{
  margin-left: 120px;
  margin-top: 50px;
}

.arrow {
  animation: bounce 2s infinite;
}

#progress{
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.49);
  cursor: pointer;
  transition: box-shadow 0.1s;
}

#progress-value{
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
}

#scroll{
  background-color: #7C3AED;
  position: fixed;
  bottom: 80px;
  right: 22px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.49);
  cursor: pointer;
  transition: box-shadow 0.1s;
}

#scroll-value{
  display: block;
  height: 52px;
  width: 52px;
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  display: grid;
  place-items: center;
  color: #001a2e;
  font-size: 35px;
}

/* Mobile styles */
@media (max-width: 768px) {
  #scroll {
    bottom: 70px; 
    right: 10px; 
    height: 50px; 
    width: 50px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); 
  }

  #scroll-value {
    height: 36px; 
    width: 36px; 
    font-size: 24px; 
  }
}

#scroll:hover{
  box-sizing: 0 0 15px rgba(0, 0, 0, 0.49);
}

#scroll:active{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.49);
  opacity: 100%;
}

#progress:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.49);
}

#progress:active{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.49);
  opacity: 100%;
}




@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the distance as needed */
  }
}


body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme {
  background-color: #1a202c;
  color: #ffffff;
}

.desktop-message {
  display: none; /* Hide the desktop message by default */
}

@media (min-width: 768px) {
  .desktop-message {
    display: block; /* Show on larger screens */
  }
}

.light-theme {
  background-color: #ffffff; 
  color: #000000;
}

.dark-theme {
  background-color: #2c2c2c; 
  color: #ffffff;
}


.page-bg {
  background-image: linear-gradient(
      240deg,
      hsl(6deg 53% 93%) 0%,
      hsl(10deg 56% 93%) 16%,
      hsl(14deg 60% 94%) 24%,
      hsl(18deg 63% 95%) 30%,
      hsl(22deg 66% 95%) 35%,
      hsl(25deg 71% 96%) 40%,
      hsl(29deg 80% 97%) 45%,
      hsl(33deg 100% 98%) 50%,
      hsl(22deg 54% 96%) 55%,
      hsl(11deg 39% 93%) 60%,
      hsl(357deg 28% 91%) 65%,
      hsl(339deg 21% 87%) 70%,
      hsl(313deg 14% 84%) 76%,
      hsl(271deg 13% 81%) 84%,
      hsl(236deg 14% 79%) 100%
  );
  transition: background-image 0.3s; 
}
