body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.raleway{
  font-family: Raleway;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: -7px -4px 64px -10px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: -7px -4px 64px -10px rgba(0, 0, 0, 0.49);
  box-shadow: -7px -4px 64px -10px rgba(0, 0, 0, 0.49);
  width: 100%;
  background-color: #fff;
  color: #3f3f3c;
  padding: 10px 0;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.navbar a {
  color: #3f3f3c;
  text-decoration: none;
  padding: 10px;
  flex: 1;
  text-align: center;
}

/* Media Query for Mobile */
@media only screen and (max-width: 451px) {
  .desktop-message {
    display: none;
  }
}

/* Media Query for Desktop */
@media only screen and (min-width: 450px) {

  .content,
  .navbar,
  footer {
    display: none;
  }

  .desktop-message {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 1.5em;
    color: #333530;
  }
}

.sidebar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  top: 0;
  position: fixed;
  ;
}

.sidebar a {
  color: #3f3f3c;
  text-decoration: none;
  display: flex;
  padding-left: 1rem;
  padding-top: 5px;
  align-items: center;
  text-align: center;
}

.main {
  overflow: scroll;
  height: 100vh;
  background-color: #edf3dd;
}

.main p {
  font-size: 1.5em;
  color: #262724;
  font-family: "Raleway", sans-serif;
}

/* .main h1 {
  font-family: "Playwrite IS", cursive;
} */

.mood {
  padding: 15px;
  background-color: #FFEBD8;
  margin-top: 20px;
}

.mood h2 {
  font-family: "Playwrite IS", cursive;
}

.mood button {
  color: #3f3f3c;
  text-decoration: none;
  padding: 8px;
  margin: 5px;
}

.mood a {
  color: #3f3f3c;
  text-decoration: none;
  padding: 8px;
  margin: 5px;
}