<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>404 Not Found</title>
</head>
<body><div class="bg-gradient-to-r from-[#feecdc] to-pink-300 w-full min-h-screen">
 <div class="flex items-center justify-center flex-col gap-3 "> 
 <h1 class="font-normal text-6xl font-sans mt-5">404</h1>
 <img src="/images/404.png" class="w-72 h-80 " />
 <p class="font-serif text-2xl">Look like you're lost</p>
 <button onclick="window.location.href='/#'" 
 class="w-40 h-10 rounded-full font-sans bg-lime-500">
Back to Home</button></div>
</div>
</body>
</html>
