<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>404 Not Found</title>
</head>
<body><div class="bg-gradient-to-r from-[#feecdc] to-pink-300 w-full min-h-screen flex items-center justify-center">
 <div class="flex items-center justify-center flex-col gap-3 "> 
 <h1 class="font-normal text-7xl font-sans mt-1 sm:text-6xl">404</h1>
 <img src="/images/404.png" class="w-80 h-96 sm:w-60 sm:h-64 " />
 <p class="font-serif text-3xl sm:text-2xl">Look like you're lost</p>
 <button onclick="window.location.href='/#'" 
 class="w-44 h-16 rounded-full font-sans bg-lime-500 text-white font-medium transition hover:bg-lime-600 sm:w-36 sm:h-12">
Back to Home</button></div>
</div>
</body>
</html>

