<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="desktop-message">
        This site is best viewed on a mobile de vice.
    </div>
    <div class="content">
        <h1>MIND DRIVE</h1>
        <p>This is the homepage of the mobile-friendly application.</p>
        <img src="/img/Img.jpeg" height="300" width="300" alt="no image">
    </div>
    <%- include('../includes/navbar') %>
</body>
</html>
