<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IS:wght@100..400&family=Playwrite+NL:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="desktop-message">
        This site is best viewed on a mobile device.
    </div>
    <div class="content">
    <%- include('../includes/sidebar') %>
        <div class="mood">
            <h2>Your Mood !</h2>
            <button>
                <a href="/mood/1"><i class="bi bi-emoji-frown"></i></a><br>Sad
            </button>
            <button>
                <a href="/mood/2"><i class="bi bi-emoji-neutral"></i></a><br>Neutral
            </button>
            <button>
                <a href="/mood/3"><i class="bi bi-emoji-smile"></i></a><br>Happy
            </button>
                <button>
                    <a href="/mood/4"><i class="bi bi-emoji-laughing"></i></a><br>Joyful
                </button>
                <button>
                    <a href="/mood/5"><i class="bi bi-emoji-grin"></i></a><br>Excited
                </button>
              </div>
               
    <%- include('../includes/navbar') %>
</body>
</html>
