<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IS:wght@100..400&family=Playwrite+NL:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Toastify css cdn -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Tailwind css cdn  -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="desktop-message">
      <div class="card">This site is best viewed on a mobile device.</div>
    </div>
    <!-- <div class="content"> -->
    <!-- <div class="profile">
      <div class="profile-image">
        <img style="border-radius: 100%; width: 200px; height: 200px; margin-top: 100px; margin-left: 100px;"
          src="/images/avatar.jpg" alt="">
      </div>
      <div class="info">
        <b>User Name :</b> Admin <br> <br>
        <b>User Password :</b> ****** <br> <br>
        <b>Account Created:</b> 01/07/2024 <br> <br>
      </div>
    </div> -->

    <div class="flex justify-center items-center h-screen">
    <!------------------------------- user-signup--------------------------- -->
      <form
        id="signupForm"
        method="post"
        class="bg-white shadow-lg rounded-lg p-8 w-[80%] max-w-md"
      >
        <h2 class="text-2xl font-semibold text-center mb-2">Sign Up</h2>
        <p class="text-center text-sm text-green-600 mb-4">
          Already have account
          <a href="#" class="underline" style="color: #0000ee" onclick="toggleForm()">Sign In</a>
        </p>

        <!-- Username Input -->
        <div class="mb-4">
          <label for="username" class="block text-gray-700 font-medium mb-2"
            >Enter Username:</label
          >
          <input
            type="text"
            id="username"
            name="username"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="Enter your username"
          />
        </div>

        <!-- Password Input -->
        <div class="mb-6">
          <label for="password" class="block text-gray-700 font-medium mb-2"
            >Enter Password:</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="Enter your password"
          />
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="w-full bg-blue-500 text-white py-3 rounded-lg hover:bg-blue-600 transition duration-300"
        >
          Submit
        </button>
      </form>
    
    <!------------------------------- user-signin--------------------------- -->
      <form
        id="signInForm"
        method="post"
        class="bg-white shadow-lg rounded-lg p-8 w-[80%] max-w-md"
        style="display: none" 
      >
        <h2 class="text-2xl font-semibold text-center mb-2">Sign In</h2>
        <p class="text-center text-sm text-green-600 mb-4">
          Don't have account
          <a href="#" class="underline" style="color: #0000ee" onclick="toggleForm()">SignUp</a>
        </p>

        <!-- Username Input -->
        <div class="mb-4">
          <label for="signIn-username" class="block text-gray-700 font-medium mb-2"
            >Enter Username:</label
          >
          <input
            type="text"
            id="signIn-username"
            name="username"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="Enter your username"
          />
        </div>

        <!-- Password Input -->
        <div class="mb-6">
          <label for="signIn-password" class="block text-gray-700 font-medium mb-2"
            >Enter Password:</label
          >
          <input
            type="password"
            id="signIn-password"
            name="password"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
            placeholder="Enter your password"
          />
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="w-full bg-blue-500 text-white py-3 rounded-lg hover:bg-blue-600 transition duration-300"
        >
          Submit
        </button>
      </form>
    </div>
    <%- include('../includes/navbar') %>
  </body>

  <!-- handeling form data -->
  <script>

    function toggleForm() {
      document.getElementById('signupForm').style.display = document.getElementById('signupForm').style.display === 'none' ? 'block' : 'none';
      document.getElementById('signInForm').style.display = document.getElementById('signInForm').style.display === 'none' ? 'block' : 'none';
    }

    // handle-signup
    const signupForm = document.getElementById("signupForm");
    signupForm.addEventListener("submit", async (e) => {

      console.log(e);
      e.preventDefault();

      const formData = new FormData(signupForm);

      try {
        const res = await fetch("http://localhost:8000/auth/signup", {
          method: "POST",
          body: new URLSearchParams(formData), // Convert FormData to URL-encoded string
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
        });
        const data = await res.json();
          console.log(data);
        if (res.ok) {
          Toastify({
            text: "user Registered",
            className: "info",
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
          }).showToast();
        }else{
          Toastify({
            text: data.message,
            className: "info",
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
          }).showToast();
        }
      } catch (error) {
        console.error(error.message);
        Toastify({
            text: "something went wrong while registering user",
            className: "info",
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
          }).showToast();
      }
    });

    // handle-signIn
    signInForm.addEventListener("submit", async (e) => {

      e.preventDefault();

      const formData = new FormData(signInForm);

      try {
        const res = await fetch("http://localhost:8000/auth/signin", {
          method: "POST",
          body: new URLSearchParams(formData), // Convert FormData to URL-encoded string
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
        });
        const data = await res.json();
          console.log(data);
        if (res.ok) {
          Toastify({
            text: "user successfully logedIn!",
            className: "info",
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
          }).showToast();
        }else{
          Toastify({
            text: data.message,
            className: "info",
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
          }).showToast();
        }
      } catch (error) {
        console.error(error.message);
        Toastify({
            text: "something went wrong while signin the user",
            className: "info",
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
          }).showToast();
      }
    });
  
    
  
  </script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</html>
