<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IS:wght@100..400&family=Playwrite+NL:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />

  <!-- Tailwind css cdn  -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="desktop-message">
        <div class="card">
            This site is best viewed on a mobile device.
          </div>
    </div>
    <div class="content">
    
        <div class="profile">
            <div class="profile-image">
                <img style="border-radius: 100%; width: 200px; height: 200px; margin-top: 100px; margin-left: 100px;" src="/images/avatar.jpg" alt="">
            </div>
        <div class="info">
            <b>User Name :</b> Admin <br> <br>
            <b>User Password :</b> ****** <br> <br>
            <b>Account Created:</b> 01/07/2024 <br> <br>
        </div>
    </div>
    <%- include('../includes/navbar') %>
</body>

</html>